# ==========================
# IDEs
# ==========================
.idea/
.vscode/
.junie/

# ==========================
# Gradle
# ==========================
.gradle/
**/.gradle/

# ==========================
# Build outputs
# ==========================
build/
**/build/

bin/
**/bin/

out/
**/out/

# ==========================
# Java
# ==========================
*.class
*.jar

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db